/*О НАС*/
.us-list {
    display: flex; 
    flex-wrap: wrap;
    
    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1200px) {
   .us-list-item  {
    width: calc((100% - 90px) / 4);
   }
   .us-list-item:not(:last-child) {
    margin-right: 30px;
}
}

@media screen and (max-width: 767px) {
    .us-list-item:not(:last-child) {
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .us-list-item  {
    width: calc((100% - 30px) / 2);
    }
    .us-list-item:not(:nth-last-child(-n + 2)) {
        margin-bottom: 30px;  
    }
    .us-list-item:not(:nth-child(2n)) {
        margin-right: 30px;  
    }

}
 
.us-list-icon {
    display: flex;
    height: 120px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    background-color: $fon-color;
    margin-bottom: 30px;
}
    
.us-list-icon-svg {
    width: 70px;
    height: 70px;
}
    
.description {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $title-light-theme-color;
    margin-bottom: 10px;

    @media screen and (max-width: 767px) {
    text-align: center;
    }

}
    
.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $text-light-theme-color;
}
    
    