/*О НАС*/
.us-list {
    display: flex; 
    justify-content: space-between;
}
    
.us-list-item {
    width: 270px;
    
    &:not(:last-child) {
        margin-right: 30px;
    }
}

.us-list-icon {
    display: flex;
    height: 120px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    background-color: $fon-color;
    margin-bottom: 30px;
}
    
.us-list-icon-svg {
    width: 70px;
    height: 70px;
}
    
.description {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $title-light-theme-color;
    margin-bottom: 10px;
}
    
.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $text-light-theme-color;
}
    
    