/*ЧЕМ МЫ ЗАНИМАЕМСЯ*/

.what {
 @media screen and (max-width: 1199px) {
 display: none;
} 
}
.what {
    padding-bottom: 94px;
}
    
.we-do{
    display: flex;
    justify-content: space-between;
}
    
.we-title {
    position: relative;

    &:not(:last-child) {
        margin-right: 30px;
        position: relative;
    }
}
    
.text-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $title-dark-theme-color;
    background-color: rgba(47, 48, 58, 0.8);
    padding-top: 27px;
    padding-bottom: 27px;
    
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
}
