html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

body {
    background-color: $title-dark-theme-color;
    font-family: $main-font;
    font-size: 14px;
    color: $title-light-theme-color;
}

h1 {
    margin: 0;
  }
  
img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  }

.link {
    text-decoration: none;
    display: block;
}

.list {
    list-style: none;
}
