%font-for-logo {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

%font-for-nav-ad {
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}